.instructor-items { display: grid; grid-template-columns: auto auto auto auto; gap: 32px; }
.instructors {
    width: 300px;
    text-align: center;
    padding: 25px;
    background: #f5f5f53d;
    border-radius: 6px;
    box-shadow: 1px 9px 19px -10px #d0d0d0;
    transition: .3s ease-in-out;
}
.instructors:hover{
    box-shadow: 1px 7px 19px -8px #d0d0d094;
}
.instructors img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 20px;
}
.instructors div{}
.instructors h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.instructors h5{}
.instructors:hover img{
    transform: rotate(360deg);
    transition: .5s ease-in;
}
.none-it{}