/* .banner-carousel {
    position: relative;
    top: -90px;
    width: 96%;
    margin: 0 auto;
}
.banner-carousel div img {
    width: 100%;
    height: 660px;
} */
.carousel-img{
    
}
.carousel-img img{
    width: 100%;
    height: 650px;
}
.carousel-text{}
.carousel-text h2{}