.feedback {
    background: #f5f5f5c4;
    padding: 40px;
    border-radius: 10px;
}
.feedback form{}
.feedback form h2 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}
.feedback form textarea {
    background: white;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    outline: none;
    border: 1px solid #d4d4d478;
}
.feedback form input {
    display: block;
    background: #0B847A;
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    transition: .3s;
}
.feedback button:hover{
    background-color: #11a599;
}