@tailwind base;
@tailwind components;
@tailwind utilities;
.delete-button {
    color: #de0000;
    font-size: 22px;
    text-align: center;
    background: #231f01f0;
    width: 40px;
    height: 35px;
    line-height: 18px;
    border-radius: 7px;
}
.payment-button {
    display: inline-block;
    padding: 7px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #5a9947;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .payment-button:hover {
    background-color: #4b853c;
  }
  


  @media screen and (max-width: 668px) {
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-direction: column;
  }
   
    .header {
      /* display: none; */
  }
  .carousel-img img {
    width: 100%;
    height: 50px;
}
    .classes-cards {
      grid-template-columns: auto!important;
  }
    .swiper-wrapper{
      flex-direction: column;
     gap: 20px; 
    }
    .testimonials {
      padding: 30px;
      width: 410%;
  }
  }